* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.heading-primary {
  font-size: 48px;
  margin: 36px 0 24px 0;
}

.first-p {
  font-size: 16px;
  margin-bottom: 16px;
}

.social-media {
  font-size: 18px;
  color: #777;
  margin-bottom: 18px;
}

.span-1 {
  color: #1098ad;
}

.span-1:hover {
  color: #000;
  font-size: 18px;
}

.facebook:link,
.facebook:visited {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.facebook:hover,
.facebook:active {
  color: #109dad;
  font-size: 18px;
  border-bottom: 1px solid #000;
}

.headshoot {
  width: 300px;
}

figcaption {
  margin-bottom: 18px;
}

.heading-secondary {
  font-size: 24px;
  color: #000;
  margin-bottom: 16px;
}

.unordered {
  list-style: none;
  margin-left: 16px;
  margin-bottom: 24px;
}

.unordered li:nth-child(odd) {
  font-style: italic;
}
.unordered li:nth-child(even) {
  color: #777;
}

.unordered li {
  margin-bottom: 12px;
}

.presentation-text {
  font-size: 18px;
  color: #999;
  margin-bottom: 24px;
}

audio {
  width: 80%;
  padding: 6px 24px;
  margin-bottom: 16px;
  background-color: #1098ad;
}

audio:hover {
  width: 88%;
  background-color: #777;
}

.table {
  margin-bottom: 24px;
}

.td-2 {
  padding: 36px;
}

.buss {
  width: 500px;
  height: 570px;
  /* display: block; */
  display: inline-block;
  filter: blur(1px);
}

.contact {
  text-align: center;
  font-size: 24px;
  /* padding: 14px 0; */
  padding-bottom: 24px;
}

form {
  margin-bottom: 14px;
}

input {
  display: block;
  border: none;
  font-size: 20px;
  color: #777;
  width: 500px;
  padding: 16px;
  background-color: #f3f1f1;
  border-radius: 2px;
}

textarea {
  /* display: block; */
  font-size: 20px;
  border: none;
  color: #111;
  width: 500px;
  padding: 16px;
  background-color: #f3f1f1;
  border-radius: 2px;
}

.btn-1 {
  background: none;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  background-color: green;
  color: #fff;
  padding: 16px;
  width: 100%;
}
